<!-- Friends page -->
{% extends "base.html" %}
{% block content %}
<!-- Form to add friends -->
<form action="/friends">
    <div class="input-group" role="group">
        <div class="input-group-prepend">
            <button type="submit" class="btn btn-primary">Add Friend</button>
        </div>
        <input type="text" class="form-control" id="friendUsername" name="friendUsername"
            placeholder="Friend username...">
    </div>
</form>

<!-- List of friends -->
<p>{{ fmessage }}</p>
<ul class="list-group">
    {% for friend in friends %}
    <li class="list-group-item">{{friend}} <span class="badge badge-light">Request Pending</span></li>
    {% endfor %}
</ul>

{% endblock %}