{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card col">
            <div class="card-header">
                Schedule
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1st session</li>
                <li class="list-group-item">2nd session</li>
                <li class="list-group-item">3nd session</li>
            </ul>
        </div>

        <div class="card col">
            <div class="card-header">
               Daily Questions
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1st session</li>
                <li class="list-group-item">2nd session</li>
                <li class="list-group-item">3nd session</li>
            </ul>
        </div>

        <div class="card col">
            <div class="card-header">
                Recommended Groups
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1st session</li>
                <li class="list-group-item">2nd session</li>
                <li class="list-group-item">3nd session</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}